body {
  background: #f6f6f6;
}

.fl-header {
  background: #eee;
  padding-top: 1.5rem;
}

.fl-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.fl-navbar {
  background: #ddd;
  width: 100%;
  margin-top: 0.5rem;
}

.fl-navbar .container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.fl-navbar a {
  display: inline-block;
  padding: 0.5rem 1rem;
}

.fl-main {
  padding: 2rem 1.5rem;
}

.fl-main h1 {
  text-align: center;
}

.fl-image {
  display: inline-block;
  border: 3px solid #ddd;
  margin-bottom: 0.5rem;
}

.fl-image img {
  width: auto;
  max-width: 100%;
}

.fl-card {
  padding: 1rem;
  background: #fff;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  margin: 0.5rem auto;
  text-align: center;
}

.fl-card-single {
  max-width: 550px;
}

.fl-photos-feed {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.page-feed .fl-photo,
.page-home .fl-photo {
  margin: 0.25rem 0.5rem;
}

.page-feed .fl-image,
.page-home .fl-image {
  position: relative;
  overflow: hidden;
  height: auto;
  width: 100%;
  margin-bottom: 0;
}

.page-feed .fl-image img,
.page-home .fl-image img {
  object-fit: cover;
  width: 100%;
  height: 250px;
  /* position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: auto; */
}

.fl-form {
  margin-top: 2rem;
  max-width: 650px;
  padding: 1rem 2.5rem 2rem;
}

.form-label {
  margin-top: 1rem;
}

.fieldset-btns {
  margin-top: 1rem;
}

.page-home .fl-card,
.page-register .fl-card {
  max-width: 450px;
}

.page-home .fl-main .fl-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.page-home .fl-card {
  width: 45%;
}

.page-home .fl-image img {
  height: 150px;
}

.page-home .fl-photos-feed {
  width: 45%;
}

@media screen and (min-width: 576px) {
  .fl-main {
    display: flex;
    justify-content: center;
  }
  .page-feed .fl-photo,
  .page-home .fl-photo {
    width: 45%;
  }
  .page-dashboard .fl-photo {
    width: auto;
  }
  .page-dashboard .fl-photos-feed {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.5rem;
    grid-auto-rows: 1fr;
    justify-items: center;
    align-items: center;
  }
  .page-dashboard .fl-image img {
    min-height: 150px;
    height: 100%;
    max-height: 200px;
    object-fit: cover;
  }

  .page-feed .fl-image img {
    height: 200px;
  }
}

@media screen and (min-width: 768px) {
  .fl-container {
    max-width: 750px;
  }
  .page-dashboard .fl-photos-feed {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
