<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1>Register</h1>
  <% if (locals.messages.errors) { %>
    <% messages.errors.forEach( el=> { %>
      <div class="alert alert-danger">
        <%= el.msg %>
      </div>
      <% }) %>
        <% } %>
          <form method="post" action="/register">
            <fieldset>
              <label class="form-label">Email</label>
              <input type="text" name="email" class="form-control">
            </fieldset>
            <fieldset>
              <label class="form-label">Password</label>
              <input type="password" name="password" class="form-control">
            </fieldset>
            <fieldset>
              <label class="form-label">Confirm Password</label>
              <input type="password" name="confirmPassword" class="form-control">
            </fieldset>
            <fieldset class="et-btns-fieldset">
              <a href="/" class="btn-link">Sign In</a>
              <button class="et-btn-register"><i class="fas fa-user-plus"></i> Create Account</button>
            </fieldset>


          </form>
</body>

</html>