<%- include('../_partials/_head-home.ejs') %>
  <main class="fl-main">
    <div class="fl-container">
      <div class="fl-card">
        <h1 class="fl-card-title">Register</h1>
        <% if (locals.messages.errors) { %>
          <% messages.errors.forEach( el=> { %>
            <div class="alert alert-danger">
              <%= el.msg %>
            </div>
            <% }) %>
              <% } %>
                <form method="post" action="/register">
                  <fieldset>
                    <label class="form-label">Email</label>
                    <input type="text" name="email" class="form-control">
                  </fieldset>
                  <fieldset>
                    <label class="form-label">Password</label>
                    <input type="password" name="password" class="form-control">
                  </fieldset>
                  <fieldset>
                    <label class="form-label">Confirm Password</label>
                    <input type="password" name="confirmPassword" class="form-control">
                  </fieldset>
                  <fieldset class="fieldset-btns">
                    <a href="/" class="btn btn-link">Sign In</a>
                    <button class="et-btn-register btn btn-primary"><i class="fas fa-user-plus"></i> Create
                      Account</button>
                  </fieldset>


                </form>
      </div>

    </div>
  </main>


  <%- include('../_partials/_foot.ejs') %>