<%- include('../_partials/_head.ejs') %>
  <main class="fl-main">
    <div class="fl-container">
      <h1>My Feed</h1>
      <div class="fl-photos-feed">
        <% posts.forEach(post=> { %>
          <section class="fl-photo">
            <span class="fl-image">
              <a href="/posts/<%= post._id %>"><img src="<%= post.link %>" width="300" /></a>
            </span>

          </section>
          <% }) %>
      </div>


      <div class="fl-card fl-form">
        <h2>Upload a Photo</h2>
        <form action="/posts" method="POST" enctype='multipart/form-data' id="form">
          <label class="form-label">Post Title</label><input type="text" name="post-title" id="post-title"
            class="form-control" />
          <label class="form-label">Post Body</label><textarea type="text" name="post-body" id="post-body"
            class="form-control"></textarea>
          <label class="form-label">Upload File</label>
          <input class="form-control" type="file" name="post-file" id="post-file">
          <button class="btn btn-primary"><i class="fas fa-upload"></i> Add Photo</button>
        </form>
      </div>

    </div>
  </main>

  <script>
    const submitForm = async (e) => {
      e.preventDefault();
      const title = document.getElementById("post-title");
      const body = document.getElementById("post-body")
      const file = document.getElementById("post-file");
      const formData = new FormData();
      formData.append("title", title.value);
      formData.append("body", body.value);
      formData.append("file", file.files[0]);
      try {
        const resp = await fetch('/posts', {
          method: 'post',
          body: formData
        });

        if (resp.status === 200) {
          location.reload();
        }


      } catch (error) {

      }

    }
    const form = document.getElementById("form");
    form.addEventListener("submit", submitForm);


  </script>
  <%- include('../_partials/_foot.ejs') %>